body {
	font-family: 'Roboto', sans-serif;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
a {
	text-decoration: none;
	margin: 0;
	padding: 0;
	border: none;
}
a:visited {
	text-decoration: none;
	margin: 0;
	padding: 0;
	border: none;
}
#logo {
	width: 110px;
	margin-top: 40px
}
.user-buttons {
	font-size: 28px;
	opacity: 0.3;
	margin-right: 10px;
	cursor: pointer;
	color:  black;
}
.user-buttons:hover {
	opacity: 0.5;
}
.liked {
	color: red !important;
	opacity: 0.5;
}
.liked:hover {
	color: red !important;
	opacity: 0.7;
}
.counter {
	line-height: 28px;
	display: inline-block;
	vertical-align: top;
	opacity: 0.5
}
.item-title {
	line-height: 28px
}
.item-footer {
	height: 30px;
	margin-left: 7px;
	margin-right: 7px;
	margin-bottom: 7px; 
	margin-top: 15px;
}
.grid {
	width: 100%
}
.grid-item {
	width: calc(33.3333% - 32px) !important;
	padding: 5px !important;
	margin: 10px !important;
	border: 1px solid rgba(0,0,0,0.2) !important;
	display: inline-block;
}
.grid-item video {
	width: 100%;
	height: 297px
}
.open-modal img {
	width: 100%
}

.standard-buttons {
	padding: 10px;
	margin:  7px;
	border: 1px solid rgba(0,0,0,0.2);
	display: inline-block;
	cursor: pointer;
	test-decoration: none;
	color: black;
}

.standard-buttons:hover {
	background-color: rgba(0,0,0,0.1);
}

.submit-art-button {
	font-weight: bold;
}

.submit-art-button-holder {
	position: absolute;
	top: 15px;
	right: 15px;
}

.go-to-website {
	font-weight: bold;
}

@media only screen and (max-width: 1000px) {
  .grid-item {
  	width: calc(50% - 32px) !important;
  }
}

@media only screen and (max-width: 625px) {
  .grid-item {
  	width: calc(100% - 32px) !important;
  }
}
